.home-container {
  z-index: 3;
}

.home-topBar {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color:#333;
  color: white;
  padding: 10px 10px;
  gap: 10px;
  margin: 10px;
  right: -10px;
  top: -15px;
  display: inline-block;
  z-index: 3;
}

.home-loginInformation {
  background-color: #30494a;
  color: white;
  position: absolute;
  right: -15px;
  margin-right: 15px;
  top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.home-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  background-image: url('./images/homehall.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.95;
  z-index: -1;
}

.home-reservation {
  font-size: large;
  z-index: 3;
}

.home-res-btn {
  background-color: #30494a;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  z-index: 3;
}

.home-buttonLogout {
  background-color: #30494a;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 130px;
  z-index: 3;
}

.home-resInformation {
  font-size: large;
  z-index: 3;
}

.home-resInformationNull {

  border-radius: 4px;
  text-align: center;  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  z-index: 3;
}

.home-parking-halls {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  margin-top: -100px;
}

.home-parking-hall {
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  margin-left: 35px;
  background-color: #466b69;
  color: whitesmoke;
  width: max-content;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}

.home-parking-hall.active {
  background-color: #4CAF50;
  color: white;
  z-index: 3;
}

.home-parking-hall-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  z-index: 3;
}

.home-parking-hall-details img {
  width: 300px;
  height: 199px;
  margin-bottom: 10px;
  z-index: 3;
}

.home-parking-hall-details div {
  gap: 15px;
  display: flex;
  flex-direction: row;
  font-size: 27px;
  margin: 5px 0;
  z-index: 3;
}

.home-parking-hall-location {
  background-color: #30494a;
  height: 100%;
  padding-inline: 15px;
  justify-content: center;
  align-items: center;
}

.home-parking-hall-phone {
  background-color: #30494a;
  height: 100%;
  padding-inline: 15px;
  justify-content: center;
  align-items: center;
}

.home-table-wrapper {
  margin-top: 2rem;
  z-index: 3;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.home-wrapper {
  min-height: 100%;
  margin-top: 260px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

main {
  flex-grow: 1;
}

* {
  background-color: transparent;
}

.home-parking-spots {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: large;
  margin-left: 35px;
  color: white;
  z-index: 3;
  
}

.home-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.home-modal-content {
  background-color: transparent;
  margin-top: 190px;
  margin-left: 690px;
  border: 1px solid #888;
  width: 500px;
  height: 500px;
  z-index: 3;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.home-signup-btn {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: -250px;
  margin-left: 160px;
  z-index: 3;
}

.home-login-btn {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.home-login-btn:hover,
.home-signup-btn:hover,
.home-res-btn:hover,
.home-buttonLogout:hover,
.home-parking-hall:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.home-login-btn {
  margin-right: 16px;
  z-index: 3;
}