.container {
    background-color: aliceblue;
  }
  
  .topBar {
    margin-top: 15px;
    margin-left: 1550px;
  }
  
  /* Set width and center the table */
  table {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    border-collapse: collapse;
  }
  
  /* Style table header */
  th {
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: large;
  }
  
  /* Style table rows */
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Set color for available spaces */
  td.available {
    background-color: #8bc34a;
  }
  
  /* Set color for full spaces */
  td.full {
    background-color: #f44336;
  }
  
  .parking-spots-table td.available {
    background-color: #8bc34a;
  }
  
  .parking-spots-table td.full {
    background-color: #f44336;
  }
  
  /* Style the parking halls */
  .parking-halls {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .parking-hall {
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 35px;
    background-color: #466b69;
    color: whitesmoke;
    width: max-content;
  }
  
  .parking-hall.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .table-wrapper {
    margin-top: 2rem;
  }
  
  .image-div {
    width: 270px;
    height: 270px;
  }
  
  html, body, #root, .App {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #30494a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 999;
  }
  
  * {
    background-color: transparent;
  }
  
  body {
    background-color: aliceblue;
  }
  
  .parkinghall2 {
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 35px;
    background-color: #466b69;
    color: whitesmoke;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: white;
    margin-top: 190px;
    margin-left: 690px;
    border: 1px solid #888;
    width: 500px;
    height: 500px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .signup-btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    margin-top: -250px;
    margin-left: 160px;
  }
  
  .login-btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    margin-top: -250px;
  }
  
  .login-btn:hover,
  .signup-btn:hover,
  .res-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  
  .login-btn {
    margin-right: 16px;
  }

  .res-btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    margin-top: -250px;
    margin-left: 10px;
  }