.logincsscontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #466b69;
  padding: 20px;
  z-index: 3;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://p.turbosquid.com/ts-thumb/eo/6V4Okm/ED/car_park_0001/jpg/1675357560/1920x1080/fit_q87/eb6d71f5aa5d34bbead9dc682fe5ab74356f171d/car_park_0001.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: 0;
}

.logincssbrandText {
  width: 300px;
  font-size: 32px;
  font-family: "Merriweather", sans-serif;
  color: #333333;
  text-align: left;
  line-height: normal;
}

.logincsstitleText {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  color: #ffffff;
}

.logincsssubtitleText {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.logincssusernameField,
.logincsspasswordField {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
}

.logincsssignInButton {
  background-color: #466b69;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
}

.logincssmanagerLoginLink {
  font-size: 17px;
  color: #ffffff;
  z-index: 2;
}