.reservation-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  background-color: #466b69;
  padding: 20px;
  color: white;
  z-index: 1;
}

.reservation-selected {
  background-color: #007bff;
  color: white;
}

.reservation-top-right-button-container {
  margin-top: 10px;
  margin-right: 10px;
  align-self: flex-start;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.reservation-return-button {
  background-color: white;
  color: #466b69;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 2;
}

.reservation-return-button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 1.5rem;
}

.reservation-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/hall5.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.95;
  z-index: -1;
}

.reservation-location-container, .reservation-spot-container, .reservation-time-container, .reservation-reserve-button-container{
  width: 100%;
  max-width: 230px;
  padding: 0.5rem;
  margin: 1rem 15px;
  border: 1px solid cadetblue;
  background-color: white;
  border-radius: 4px;
  font-size: 1rem;
  color: #466b69;
  z-index: 2;
}

.reservation-user-reservations {
  right: 140px;
  width: 100%;
  max-width: 240px;
  padding: 0.5rem;
  border: 1px solid cadetblue;
  background-color: white;
  border-radius: 4px;
  font-size: 1rem;
  color: #466b69;
  z-index: 2;
}

.reservation-error-message {
  color: red;
  margin-bottom: 10px;
  z-index: 2;
}

.success-message {
  color: green;
  margin-bottom: 10px;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

label {
  font-weight: bold;
  margin-top: 10px;
  z-index: 2;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 2;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 2;
}

button:hover {
  background-color: #45a049;
  z-index: 2;
}

.reservation-deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

button:active {
  background-color: blue;
  z-index: 2;
}

button:focus {
  background-color: blue;
  z-index: 2;
}